.input-container {
  position: relative;
  display: flex;
  max-width: 600px;
  margin: auto;
}

.rentals input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  display: flex;
  padding-right: 80px;
}

.clear-result {
  position: absolute;
  border-radius: 5px;
  right: 6px;
  border: none;
  top: 24px;
  height: 46px;
  cursor: pointer;
  color: white;
  background-color: #1e90ff;
  transform: translateX(2px);
  width: 70px;
}

.clear-result:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.error-banner {
  margin: 0 50px;
  display: flex;
  background-color: #d99888;
  padding: 12px;
  border-radius: 5px;
}

.college {
  margin: 8px;
  background-color: #f6f6f6;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  min-width: 300px;
}

.college h5,
.college h4 {
  padding: 4px;
}

.college:hover {
  background-color: #f3f3f3;
}

.colleges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  font-size: 300px;
  color: gray;
}
